body {
 background-color: black;
 color: white;
 margin: 8px;
 font-family: Arial, Helvetica, sans-serif;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-image: url('/media/images/bg.jpeg');
}
footer {
 display: none;
 position: relative;
 border: solid;
 border-radius: 10px;
 color: #aaeeff;
 left: 0;
 bottom: 0;
 width: 100%;
 text-align: center;
}
nav {
 display: inline-block;
 overflow: hidden;
 top: 0;
 width: 65%;
 font-size: 20px;
}
div {
 margin: 1px;
}
a {
 color: #aaeeff;
 text-decoration: none;
}
a:hover {
 text-decoration: underline;
}

.userAvatar {
 border-radius: 100%;
 height: 40px;
}
.guildAvatar {
 border-radius: 100%;
 height: 40px;
}

.topnav a {
 border-radius: 10px;
 margin: 1px;
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 9px 10px;
 text-decoration: none;
 transition: 0.5s;
}
.topnav a:hover {
 background-color: #556d73;
 transition: 0.5s;
}
.topnav a.active {
 background-color: #aaeeff;
 color: black;
}
.topnav a.home {
 color: #aaeeff;
}

.tooltip {
 position: relative;
 display: inline-block;
}
.tooltip .tooltiptext {
 visibility: hidden;
 width: 120px;
 background-color: #aaeeff;
 color: black;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;
 position: absolute;
 z-index: 1;
 top: 150%;
 left: 50%;
 margin-left: -60px;
}
.tooltip .tooltiptext::after {
 content: "";
 position: absolute;
 bottom: 100%;
 left: 50%;
 margin-left: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: transparent transparent "#aaeeff" transparent;
}
.tooltip:hover .tooltiptext {
 visibility: visible;
}

.login {
 float: right;
}
.login button {
 background-color: Transparent;
 color: #aaeeff;
 padding: 5px 10px;
 text-align: center;
 text-decoration: none;
 font-size: 20px;
 border: 2px solid;
 border-radius: 5px;
}
.login button span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}
.login button span:after {
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 10;
 right: -20px;
 transition: 0.5s;
}
.login button:hover span {
 padding-right: 25px;
}
.login button:hover span:after {
 opacity: 1;
 right: 0;
}
.navsel {
 top: 0;
 right: 0;
 display: none;
 float: right;
 position: relative;
}
.usersel {
 color: #aaeeff;
 position: absolute;
 right: 2px;
 display: none;
 float: bottom;
 background: black;
 border-radius: 5px;
 width: 150px;
 border: solid;
 z-index: 1;
}
.navsel:hover .usersel {
 display: block;
}
#userseltag {
 margin: 5px;
 font-family: 'Courier New', monospace;
 inline-size: 140px;
 overflow-wrap: break-word;
}
.usersel button {
 margin: 5px;
 background-color: Transparent;
 color: #ff0000;
 padding: 3px 20px;
 text-align: center;
 text-decoration: none;
 font-size: 18px;
 border: 2px solid;
 border-radius: 5px;
}

.helpnav {
 display: inline-block;
 overflow: hidden;
 top: 0;
 width: 65%;
 font-size: 15px;
}
.helpnav a {
 margin: 2px;
 text-align: center;
}
.help ol {
 padding-left: 40px;
}
.help {
 width: 90%;
}
.command {
 text-align: center;
 font-size: 14px;
 border-radius: 3px;
 padding: -2px 2px;
 background: #323232;
 color: #aaeeff;
 font-family: 'Courier New', monospace;
}
.info {
 color: #aaeeff;
 font-size: 13px;
}

table {
 border-collapse: collapse;
 width: 100%;
}

td, th {
 border: 2px solid #ddd;
 padding: 8px;
}

th {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
}